.root {
  position: relative;
  width: 422px;
  height: 902px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #fefefe;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #fefefe;
  box-shadow: 0px 0px 1px 0px #171a1f12, 0px 0px 2px 0px #171a1f1f;
}
.button12 {
  transform-origin: top left;
  z-index: 0;
  position: absolute;
  left: 71px;
  top: 519px;
  width: 276px;
  height: 59px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #0000;
  outline-offset: -1px;
  border-radius: 30px;
  background-color: #034ef7;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.loginNow {
  color: #fefefe;
  font-size: 15px;
  line-height: 23px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 6px);
  top: 50%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.welcomeBack {
  transform-origin: top left;
  color: #2e3340;
  font-size: 29px;
  line-height: 44px;
  font-weight: bold;
  font-family: Archivo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 35px;
  top: 115px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.donTHaveAnAccountSignUp {
  transform-origin: top left;
  color: #bbbfcb;
  font-size: 15px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 96px;
  top: 802px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.forgotPassword {
  transform-origin: top left;
  color: #818388;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 152px;
  top: 607px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.forgotPassword2 {
  transform-origin: top left;
  color: #818388c4;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 38px;
  top: 166px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.username {
  transform-origin: top left;
  color: #bbbfcb;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 35px;
  top: 256px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.password {
  transform-origin: top left;
  color: #bbbfcb;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 35px;
  top: 401px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.sALESTOP {
  transform-origin: top left;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 75px;
  top: 37px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.tree1 {
  z-index: 0;
  position: absolute;
  left: 31px;
  top: 30px;
  width: 32px;
  height: 32px;
  background-image:/* webpackIgnore: true */ url('../../assets/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flatColorIconsGoogle {
  z-index: 0;
  position: absolute;
  left: 186px;
  top: 718px;
  width: 51px;
  height: 51px;
}
.icon {
  width: 100%;
  height: 100%;
}
.etLinkedin {
  z-index: 0;
  position: absolute;
  left: 253px;
  top: 722px;
  width: 43px;
  height: 43px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.logosFacebook {
  z-index: 0;
  position: absolute;
  left: 126px;
  top: 721px;
  width: 45px;
  height: 45px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.line1 {
  z-index: 0;
  position: absolute;
  left: 35px;
  top: 461px;
  width: 339px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #bbbfcb96;
}
.line2 {
  z-index: 0;
  position: absolute;
  left: 35px;
  top: 313px;
  width: 339px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #bbbfcb96;
}



.input{
  margin-top: 287px;
  margin-left: 36px;
  width: 332px;
  outline: none; /* Убирает стандартное выделение */
}

.input:focus {
  border: none; /* Убираем рамку при фокусе */
}

.input_2{
  margin-top: 125px;
  margin-left: 36px;
  width: 332px;
  outline: none; /* Убирает стандартное выделение */
}

.loginNow_2{
  left: 108px;
  position: absolute;
  color: #034ef7;
}